
/*
 * normalize.css is used to make browsers render all elements
 * more consistently and with modern standards.
 */

.button,
.button-md {
    display: inline-block;
    font-size: 1rem;
    padding: .6rem 1.2rem;
    text-align: center;
    background: #2C2D34;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-decoration: none;
    border: 1px solid #2C2D34;
    border-radius: 2px;
    max-width: 250px;
    width: 100%;
    transition: background 0.2s;
}

.button:hover {
    color: rgba(45,40,26,0.94);
    background: #fff;
    cursor: pointer;
    border: 1px solid #2C2D34;
}
.button:active {
    background: rgba(45, 40, 26, 0.94);
    color: #fff;
    cursor: pointer;
}

.button-sm {
    font-size: 0.75rem;
    padding: .5rem .75rem;
}
/* button-md is default size and set above */
.button-lg {
    padding: 0.65rem 1.3rem;
    font-size: 1.2rem;
}
button[type="submit"] {
    align-self: flex-end;
}