<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Buttons - Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    
    <link href="https://zsadler.github.io/css/main.css" rel="stylesheet" type='text/css'>
    <link href="https://zsadler.github.io/css/breadcrumb.css" rel="stylesheet" type='text/css'>
    <link href="button.css" rel="stylesheet" type='text/css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142697925-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-142697925-1');
    </script>

</head>
<body>
    <header class="wrapper">
        <div class="overlay"></div>
        <div class="hero"></div>
        <div class="container">
            <h1>Zoe Sadler</h1>
            <h2>Javascript Developer</h2>
            <blockquote class="quote">"Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover." <span class="author"> ~ Mark Twain</span>
            </blockquote>
        </div>
    </header>
    <ul class="breadcrumb">
        <li><a href="https://zsadler.github.io"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="index.html">Buttons</a></li>
    </ul>

    <article class="component">

        <h3>A Basic Button</h3>
        <div class="button">Buy Now</div>

        <h3>A Button Element with the Button Class</h3>
        <button class="button">Send Mail</button>

        <h3>An Anchor with a Button Class</h3>
        <a href="#" class="button">Search</a>

        <h3>Buttons of different sizes</h3>
        <div class="button button-sm">A Small Button</div>
        <div class="button button-md">A Medium Button</div>
        <div class="button button-lg">A Large Button</div>

    </article>

</body>
</html>