<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Product Listing Page - Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    
    <link href="https://zsadler.github.io/css/main.css" rel="stylesheet" type='text/css'>
    <link href="https://zsadler.github.io/css/breadcrumb.css" rel="stylesheet" type='text/css'>

    <link href="../buttons/button.css" rel="stylesheet" type='text/css'>
    <link href="plp.css" rel="stylesheet" type='text/css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142697925-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-142697925-1');
    </script>

</head>
<body>
<header class="wrapper">
    <div class="overlay"></div>
    <div class="hero"></div>
    <div class="container">
        <h1>Zoe Sadler</h1>
        <h2>Javascript Developer</h2>
        <blockquote class="quote">"Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover." <span class="author"> ~ Mark Twain</span>
        </blockquote>
    </div>
</header>
<ul class="breadcrumb">
    <li><a href="https://zsadler.github.io"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="web-components/components/sidebar-profile/index.html">Product Listing Page</a></li>
</ul>

<section class="component">
    <div class="main">
        <div class="product-grid">
            <div class="product-grid-row">

                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=51" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="standard-price">$368.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=22" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="sale standard-price">$56.95</span>
                                    <span class="sale-price">$56.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=32" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="standard-price">$468.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=42" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="sale standard-price">$658.95</span>
                                    <span class="sale-price">$596.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=28" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="standard-price">$458.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=62" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="standard-price">$586.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=72" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="sale standard-price">$786.95</span>
                                    <span class="sale-price">$656.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=92" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="standard-price">$826.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=93" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="standard-price">$86.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=33" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="standard-price">$56.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
                <div class="product-tile-wrap">
                    <figure class="product-tile">

                        <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=66" alt="Product Image">
                            </div>
                        </span>
                        </a>

                        <figcaption>

                            <a href="#" title="Product Name">
                                <h1 class="product-name">Random Product Name</h1>
                                <div class="product-description">
                                    <p>Fancy computer with speed and reliability</p>
                                </div>
                                <div class="product-price">
                                    <span class="sale standard-price">$76.95</span>
                                    <span class="sale-price">$56.95</span>
                                </div>
                            </a>
                            <button class="button button-md"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</button>
                        </figcaption>
                    </figure>

                </div>
            </div>
        </div>
    </div>

    <aside class="cart-items">
        <h2><span class="cart-total">4</span><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> <span class="cart-label">Cart</span></h2>

        <div class="cart-item">
            <div class="product-name">Random Cart Product Name</div>
            <div class="pricing row">
                <div class="qty"><span>Qty:</span> 1 <span class="qty-times">x</span></div>
                <div class="product-price">
                    <span class="sale standard-price">$76.95</span>
                    <span class="sale-price">$56.95</span>
                </div>
            </div>
            <div class="remove"><a href="#"><i class="fa fa-times" aria-hidden="true"></i>  Remove Item</a></div>
        </div>
        <div class="cart-item">
            <div class="product-name">Random Cart Product</div>
            <div class="pricing row">
                <div class="qty"><span>Qty:</span> 2 <span class="qty-times">x</span></div>
                <div class="product-price">
                    <span class="standard-price">$6.95</span>
                </div>
            </div>
            <div class="remove"><a href="#"><i class="fa fa-times" aria-hidden="true"></i>  Remove Item</a></div>
        </div>
        <div class="cart-item">
            <div class="product-name">Random Product</div>
            <div class="pricing row">
                <div class="qty"><span>Qty:</span> 1 <span class="qty-times">x</span></div>
                <div class="product-price">
                    <span class="standard-price">$10.95</span>
                </div>
            </div>
            <div class="remove"><a href="#"><i class="fa fa-times" aria-hidden="true"></i>  Remove Item</a></div>
        </div>
        <div class="checkout-total row">
            <span class="total-label">Total: </span>
            <span class="total">$81.80</span>
        </div>
        <div class="checkout row">
            <button class="process-checkout button">Checkout</button>
            <div>- or -</div>
            <div class="continue-shopping"><i class="fa fa-arrow-left" aria-hidden="true"></i> Continue Shopping</div>
        </div>
    </aside>
</section>

</body>
</html>