<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Product Listing Page - Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro:600,200' rel='stylesheet' type='text/css'>
    <link href="https://zsadler.github.io/css/main.css" rel="stylesheet" type='text/css'>
    <link href="https://zsadler.github.io/css/breadcrumb.css" rel="stylesheet" type='text/css'>

    <link href="../buttons/button.css" rel="stylesheet" type='text/css'>
    <link href="plp.css" rel="stylesheet" type='text/css'>

</head>
<body>

<ul class="breadcrumb">
    <li><a href="https://zsadler.github.io"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="web-components/components/sidebar-profile/index.html">Product Listing Page</a></li>
</ul>

<section class="component">
    <div class="main">
    <div class="product-grid">
        <ul class="product-grid-row">

            <li class="product-tile-wrap">
                <figure class="product-tile">

                    <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=1" alt="Product Image">
                            </div>
                        </span>
                    </a>

                    <figcaption>

                        <a href="#" title="Product Name">
                            <h1 class="product-name">Random Product Name</h1>
                            <div class="product-description">
                                <p>Fancy computer with speed and reliability</p>
                            </div>
                            <div class="product-price">
                                <span class="standard-price">$368.95</span>
                            </div>
                        </a>
                        <button class="button button-md">Add to Cart</button>
                    </figcaption>
                </figure>

            </li>
            <li class="product-tile-wrap">
                <figure class="product-tile">

                    <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=2" alt="Product Image">
                            </div>
                        </span>
                    </a>

                    <figcaption>

                        <a href="#" title="Product Name">
                            <h1 class="product-name">Random Product Name</h1>
                            <div class="product-price">
                                <span class="standard-price">$568.95</span>
                            </div>
                        </a>
                        <button class="button button-md">Add to Cart</button>
                    </figcaption>
                </figure>

            </li>
            <li class="product-tile-wrap">
                <figure class="product-tile">

                    <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=3" alt="Product Image">
                            </div>
                        </span>
                    </a>

                    <figcaption>

                        <a href="#" title="Product Name">
                            <h1 class="product-name">Random Product Name</h1>
                            <div class="product-price">
                                <span class="standard-price">$468.95</span>
                            </div>
                        </a>
                        <button class="button button-md">Add to Cart</button>
                    </figcaption>
                </figure>

            </li>
            <li class="product-tile-wrap">
                <figure class="product-tile">

                    <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=4" alt="Product Image">
                            </div>
                        </span>
                    </a>

                    <figcaption>

                        <a href="#" title="Product Name">
                            <h1 class="product-name">Random Product Name</h1>
                            <div class="product-price">
                                <span class="standard-price">$658.95</span>
                            </div>
                        </a>
                        <button class="button button-md">Add to Cart</button>
                    </figcaption>
                </figure>

            </li>
            <li class="product-tile-wrap">
                <figure class="product-tile">

                    <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=8" alt="Product Image">
                            </div>
                        </span>
                    </a>

                    <figcaption>

                        <a href="#" title="Product Name">
                            <h1 class="product-name">Random Product Name</h1>
                            <div class="product-price">
                                <span class="standard-price">$458.95</span>
                            </div>
                        </a>
                        <button class="button button-md">Add to Cart</button>
                    </figcaption>
                </figure>

            </li>
            <li class="product-tile-wrap">
                <figure class="product-tile">

                    <a class="product-image-wrap" href="#" title="Product Name">
                        <span class="product-image-position-wrap">
                            <div class="shows-when-not-focused">
                                <img class="product-image" src="http://unsplash.it/384/518/?image=6" alt="Product Image">
                            </div>
                        </span>
                    </a>

                    <figcaption>

                        <a href="#" title="Product Name">
                            <h1 class="product-name">Random Product Name</h1>
                            <div class="product-price">
                                <span class="standard-price">$586.95</span>
                            </div>
                        </a>
                        <button class="button button-md">Add to Cart</button>
                    </figcaption>
                </figure>

            </li>
        </ul>
    </div>
    </div>

    <aside class="cart-items">
        <h2>Cart</h2>

        <div class="cart-item">

            <div class="remove">&#8594; <a href="#">Remove Item</a></div>
        </div>
    </aside>
</section>

</body>
</html>