section {
    display: flex;
}
.main {
    padding: 0 1.75rem 0 0;
    width: 75.555%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside {
    font-size: 16px;
    min-width: 280px;
    width: 25.555%;
    padding: 2rem;
    border: 1px solid rgba(29, 30, 31, 0.24);
    border-radius: 3px;
    background-color: rgba(252, 255, 255, 0.85);
}
aside h2,
aside h3 {
    color: #f3a614;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(142, 193, 210, 0.32);
    padding-bottom: 0.5rem;
    margin-top: 0;
}
aside h3 {
    color: #f3a614;
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0;
 }
aside img {
    width:100%;
    max-width: 150px;
}
.remove,
.remove a {
    color: #d45e04;
    font-weight: bold;
    text-decoration: none;
}
.remove a:hover {
    text-decoration: underline;
}

.product-grid-row {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    margin-left: -.75rem;
    margin-right: -.75rem;
}
.product-tile-wrap {
    padding-right: .75rem;
    padding-left: .75rem;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin-bottom: 3.92rem;
}
.product-tile {
    position: relative;
    margin: 0;
    padding: 1rem;
    border: 2px solid #efefef;
    background-color: #fff;
}
.product-tile a {
    text-decoration: none;
}
.product-image-wrap {
    margin-bottom: .75rem;
    position: relative;
    display: block;
}
.product-image-wrap:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 134.89583%;
}
.product-image-wrap .product-image-position-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.product-image {
    width: 100%;
    height: auto;
}
.product-tile img {
    vertical-align: middle;
}

.product-name {
    font-size: 1.1rem;
    margin: 0;
}
.product-price {
    padding-bottom: 1rem;
    text-align: right;
    color: #8c420a;
}
.sale.standard-price {
    text-decoration: line-through;
}
.sale-price {
    color: #d45e04;
}
.product-tile .button {
    max-width: 100%;
}
.product-tile button i.fa-shopping-cart {
    padding-right: 0.5rem;
}
.cart-item {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid #dedede;
}
.cart-item:first-child {
    padding-top: 0;
}
.cart-item .product-name,
.cart-item .product-price,
.remove, .qty {
    font-size: 0.8rem;
    padding-bottom: 0;
}
.cart-item .remove {
    text-align: right;
}
.checkout-total {
    padding: 1rem 0;
}
.checkout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.process-checkout {
    margin-bottom: 0.8rem;
}
.continue-shopping {
    padding-top: 0.4rem;
}
.cart-items h2 .cart-label {
    font-size: 2.6rem;
}
.cart-items h2 {
    position: relative;
}
.cart-total {
    position: absolute;
    color: #fff;
    top: 13px;
    left: 22px;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 100;
}