<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Sidebar Profile - Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    
    <link href="https://zsadler.github.io/css/main.css" rel="stylesheet" type='text/css'>
    <link href="https://zsadler.github.io/css/breadcrumb.css" rel="stylesheet" type='text/css'>
    <link href="sidebar-profile.css" rel="stylesheet" type='text/css'>

</head>
<body>
<header class="wrapper">
    <div class="overlay"></div>
    <div class="hero"></div>
    <div class="container">
        <h1>Zoe Sadler</h1>
        <h2>Javascript Developer</h2>
        <blockquote class="quote">"Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover." <span class="author"> ~ Mark Twain</span>
        </blockquote>
    </div>
</header>
<ul class="breadcrumb">
    <li><a href="https://zsadler.github.io"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="web-components/components/sidebar-profile/index.html">Sidebar Profile</a></li>
</ul>

<article class="component">
    <div class="main">
        <h1>Sidebar Components</h1>
        <p>Aliquam erat volutpat. Vestibulum eleifend pellentesque urna, at sodales est faucibus sit amet. Praesent in mi dui. Aliquam sed bibendum nisl. Mauris pharetra enim sit amet ipsum dictum placerat. Sed lacinia pulvinar iaculis. Nam sit amet hendrerit purus. Sed a urna laoreet lorem pulvinar fermentum. Aenean vel luctus libero. Ut tincidunt metus sagittis ante viverra feugiat.</p>
        <p>Aliquam erat volutpat. Vestibulum eleifend pellentesque urna, at sodales est faucibus sit amet. Praesent in mi dui. Aliquam sed bibendum nisl. Mauris pharetra enim sit amet ipsum dictum placerat. Sed lacinia pulvinar iaculis. Nam sit amet hendrerit purus. Sed a urna laoreet lorem pulvinar fermentum. Aenean vel luctus libero. Ut tincidunt metus sagittis ante viverra feugiat.</p>
        <p>Aliquam erat volutpat. Vestibulum eleifend pellentesque urna, at sodales est faucibus sit amet. Praesent in mi dui. Aliquam sed bibendum nisl. Mauris pharetra enim sit amet ipsum dictum placerat. Sed lacinia pulvinar iaculis. Nam sit amet hendrerit purus. Sed a urna laoreet lorem pulvinar fermentum. Aenean vel luctus libero. Ut tincidunt metus sagittis ante viverra feugiat.</p>
        <p>Aliquam erat volutpat. Vestibulum eleifend pellentesque urna, at sodales est faucibus sit amet. Praesent in mi dui. Aliquam sed bibendum nisl. Mauris pharetra enim sit amet ipsum dictum placerat. Sed lacinia pulvinar iaculis. Nam sit amet hendrerit purus. Sed a urna laoreet lorem pulvinar fermentum. Aenean vel luctus libero. Ut tincidunt metus sagittis ante viverra feugiat.</p>
    </div>

    <aside class="profile">
        <h2>Zoe Sadler</h2>
        <img src="zoe_sadler.jpg" alt="profile-photo"/>
        <div class="bio">
            <h3>About the Developer</h3>
            <p>I've been hacking around with JS for some time but have never really had any formal training with it. I'm finding it to be a necessary skill if I'd like to survive in this industry. My goals related to web programming, and how Modern Developer fits into my plans with computer programming is to have a better understanding of JS and to strengthen my skills in this area. To feel a little less like an imposture that some how hacks away at the code to eventually make it work and to become a programmer who knows why they wrote it the way they did.</p>
            <div class="back-to-profile">&#8594; <a href="#">Back to Full Profile</a></div>
        </div>
    </aside>
</article>

</body>
</html>