article {
    display: flex;
}
.main {
    padding: 0 2.5rem 0 0;
    width: 66.666%;
}
aside {
    min-width: 280px;
    width: 33.333%;
    padding: 2rem;
    background-color: #f1f7f9;
    border: 1px solid rgba(139, 194, 212, 0.41);
    border-radius: 3px;
}
aside h2,
aside h3 {
    color: #f3a614;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(142, 193, 210, 0.32);
    padding-bottom: 0.5rem;
}
aside h3 {
    color: #f3a614;
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0;
 }
aside img {
    width:100%;
    max-width: 150px;
}
.back-to-profile,
.back-to-profile a {
    color: #d45e04;
    font-weight: bold;
    text-decoration: none;
}
.back-to-profile a:hover {
    text-decoration: underline;
}