<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Credit Card | Forms - Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    
    <link href="https://zsadler.github.io/css/main.css" rel="stylesheet" type='text/css'>
    <link href="https://zsadler.github.io/css/breadcrumb.css" rel="stylesheet" type='text/css'>
    <link href="../buttons/button.css" rel="stylesheet" type='text/css'>
    <link href="forms.css" rel="stylesheet" type='text/css'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142697925-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-142697925-1');
    </script>

</head>
<body>
<header class="wrapper">
    <div class="overlay"></div>
    <div class="hero"></div>
    <div class="container">
        <h1>Zoe Sadler</h1>
        <h2>Javascript Developer</h2>
        <blockquote class="quote">"Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover." <span class="author"> ~ Mark Twain</span>
        </blockquote>
    </div>
</header>
<ul class="breadcrumb">
    <li><a href="https://zsadler.github.io"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="index.html">Forms</a></li>
    <li><a href="credit-card.html">Credit Card Form</a></li>
</ul>

<article class="component">

    <h2>Credit Card Form</h2>

    <form id="creditCard" class="credit-card-form" action="">
        <div class="container">
            <fieldset>
                <legend> < Credit Card Info > </legend>
                <label>Credit Card Number</label>
                <input type="text" name="number" maxlength="19" required/>

                <label>Full name as it appears on the card</label>
                <input type="text" name="fullname" placeholder="Full Name" required/>
                <div class="col-xs-6">
                    <label>Expiration Date</label>
                    <select>
                        <option value="--">--</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <select>
                        <option value="--">--</option>
                        <option value="16">2016</option>
                        <option value="17">2017</option>
                        <option value="18">2018</option>
                        <option value="19">2019</option>
                        <option value="20">2020</option>
                        <option value="21">2021</option>
                        <option value="22">2022</option>
                        <option value="23">2023</option>
                        <option value="24">2024</option>
                        <option value="25">2025</option>
                        <option value="26">2026</option>
                        <option value="27">2027</option>
                        <option value="28">2028</option>
                        <option value="29">2029</option>
                        <option value="30">2030</option>
                    </select>

                    <label>CVC</label>
                    <input type="text" name="cvc" maxlength="3" required/>
                </div>
            </fieldset>
        </div>
        <button type="submit" class="button button-md">Submit</button>
    </form>

</article>
<script type="text/javascript" src="js/validator.js"></script>
<script type="text/javascript" src="js/forms.js"></script>
</body>
</html>