
.container {
    display: flex;
    flex-direction: row;
}
form {
    display: flex;
    flex-direction: column;
}
fieldset {
    background-color: #fff;
    margin-bottom: 2rem;
    width: 50%;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 6px #efefef;
    padding: 0rem 1.5rem 2rem;
}
fieldset:first-child {
    margin-right: 1rem;
}
fieldset:last-child {
    margin-right: 0;
}

input[type="search"] {
    margin: 1rem 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="range"],
textarea {
    width: 100%;
}
input[type="radio"],
input[type="checkbox"]{
    margin-right: 0.6rem;
}
input[type="radio"] {
    margin-bottom: 1rem;
}
input[type="color"] {
    width: 80px;
    height: 80px;
    margin-bottom: 2rem;
}
legend {
    margin: auto;
}
label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 1rem;
}
sup {
    top: 0.5rem;
}
.error-msg,
.required {
    color:red;
}
.same-as-billing, .remember-me {
    flex-direction: row;
    align-items: baseline;
}
.questionnaire-form fieldset  {
    display: block;
    width: 100%;
}
.login-form fieldset {
    margin-bottom: 1rem;
}

fieldset.additional-requests{
    width: 100%;
    padding-top: 1rem;
}

.remember-me {
    padding-bottom: 1rem;
    padding-top: 0;
}

#color-generated {
    height: 50px;
    width: 100%;
    border: 1px solid #d4d4d4;
}
.color-builder fieldset {
    padding: 0 2rem;
}
.color-builder label {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.color-picker {
    border-top: 1px solid #d4d4d4;
    margin: 3rem 0 0;
    padding: 1rem 0 0;
}
.rbg-r {color: #ff0000;}
.rbg-g {color: #00ff00;}
.rbg-b {color: #0000ff;}
