<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Buttons - Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro:600,200' rel='stylesheet' type='text/css'>
    <link href="https://zsadler.github.io/css/main.css" rel="stylesheet" type='text/css'>
    <link href="https://zsadler.github.io/css/breadcrumb.css" rel="stylesheet" type='text/css'>
    <link href="forms.css" rel="stylesheet" type='text/css'>

</head>
<body>

<ul class="breadcrumb">
    <li><a href="https://zsadler.github.io"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="web-components/components/forms/index.html">Forms</a></li>
</ul>

<article class="component">

    <h3>Forms</h3>
    <ul class="forms">
        <li class="form"><a href="signup.html"></a></li>
        <li class="form"><a href="search.html"></a></li>
        <li class="form"><a href="questionnaire.html"></a></li>
        <li class="form"><a href="login.html"></a></li>
        <li class="form"><a href="color-builder.html"></a></li>
        <li class="form"><a href="shipping-billing-address.html"></a></li>
        <li class="form"><a href="Scheduling.html"></a></li>
        <li class="form"><a href="credit-card.html"></a></li>
    </ul>

</article>

</body>
</html>