<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Login | Forms - Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    
    <link href="https://zsadler.github.io/css/main.css" rel="stylesheet" type='text/css'>
    <link href="https://zsadler.github.io/css/breadcrumb.css" rel="stylesheet" type='text/css'>
    <link href="../buttons/button.css" rel="stylesheet" type='text/css'>
    <link href="forms.css" rel="stylesheet" type='text/css'>

</head>
<body>
<header class="wrapper">
    <div class="overlay"></div>
    <div class="hero"></div>
    <div class="container">
        <h1>Zoe Sadler</h1>
        <h2>Javascript Developer</h2>
        <blockquote class="quote">"Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover." <span class="author"> ~ Mark Twain</span>
        </blockquote>
    </div>
</header>
<ul class="breadcrumb">
    <li><a href="https://zsadler.github.io"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="index.html">Forms</a></li>
    <li><a href="login.html">Login Form</a></li>
</ul>

<article class="component">

    <h2>Login Form</h2>

    <form id="login" class="login-form" action="">
        <div class="container">
            <fieldset>
                <legend> < Please Login > </legend>
                <label><i class="fa fa-envelope-o fa-fw"></i> Email</label>
                <div class="error-msg email-error"></div>
                <input type="email" placeholder="Email" name="email" pattern="[^ @]*@[^ @]*" required>

                <label><i class="fa fa-key fa-fw"></i> Password</label>
                <div class="error-msg password-error"></div>
                <input type="password" placeholder="Password" name="password" required>

                <label class="remember-me" for="remember">
                    <input id="remember" type="checkbox" name="remeberMe"> Remember me
                </label>
            </fieldset>
        </div>

        <button type="submit" class="button button-md">Sign in</button>

    </form>

</article>
<script type="text/javascript" src="https://zsadler.github.io/js/validator.js"></script>
<script type="text/javascript" src="https://zsadler.github.io/js/login.js"></script>
</body>
</html>