<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Questionnaire | Forms - Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    
    <link href="https://zsadler.github.io/css/main.css" rel="stylesheet" type='text/css'>
    <link href="https://zsadler.github.io/css/breadcrumb.css" rel="stylesheet" type='text/css'>
    <link href="../buttons/button.css" rel="stylesheet" type='text/css'>
    <link href="forms.css" rel="stylesheet" type='text/css'>

</head>
<body>
<header class="wrapper">
    <div class="overlay"></div>
    <div class="hero"></div>
    <div class="container">
        <h1>Zoe Sadler</h1>
        <h2>Javascript Developer</h2>
        <blockquote class="quote">"Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover." <span class="author"> ~ Mark Twain</span>
        </blockquote>
    </div>
</header>
<ul class="breadcrumb">
    <li><a href="https://zsadler.github.io"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="index.html">Forms</a></li>
    <li><a href="questionnaire.html">Questionnaire Form</a></li>
</ul>

<article class="component">

    <h2>Questionnaire Form</h2>

    <form id="questionnaire" class="questionnaire-form" action="">
        <fieldset>
            <legend> < Favorite Beer Type > </legend>
            <label>What type of beer do you love?</label>
            <div class="error-msg radio-error"></div>
            <input type="radio" name="beer" value="IPA">IPA<br>
            <input type="radio" name="beer" value="Stout">Stout<br>
            <input type="radio" name="beer" value="Pale Ale">Pale Ale<br>
            <input type="radio" name="beer" value="Porter">Porter<br>
            <input type="radio" name="beer" value="Other">Other
            <div class="error-msg other-error "></div>
            <input type="text" name="other_beer" placeholder="What other type of beer?">
        </fieldset>
        <button type="submit" class="button button-md">Submit</button>
    </form>

</article>
<script type="text/javascript" src="js/validator.js"></script>
<script type="text/javascript" src="js/questionnaire.js"></script>
</body>
</html>