<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Shipping / Billing | Forms - Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    
    <link href="https://zsadler.github.io/css/main.css" rel="stylesheet" type='text/css'>
    <link href="https://zsadler.github.io/css/breadcrumb.css" rel="stylesheet" type='text/css'>
    <link href="../buttons/button.css" rel="stylesheet" type='text/css'>
    <link href="forms.css" rel="stylesheet" type='text/css'>

</head>
<body>
<header class="wrapper">
    <div class="overlay"></div>
    <div class="hero"></div>
    <div class="container">
        <h1>Zoe Sadler</h1>
        <h2>Javascript Developer</h2>
        <blockquote class="quote">"Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover." <span class="author"> ~ Mark Twain</span>
        </blockquote>
    </div>
</header>
<ul class="breadcrumb">
    <li><a href="https://zsadler.github.io"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="index.html">Forms</a></li>
    <li><a href="shipping-billing-address.html">Shipping / Billing Form</a></li>
</ul>

<article class="component">

    <h2>Shipping / Billing Form</h2>

    <form id="shippingBilling" class="shipping-billing-form" action="">
        <div class="container">
            <fieldset class="shipping">
                <legend>Shipping Address</legend>
                <label>First Name</label>
                <input type="text" name="fname" placeholder="First Name">

                <label>Last Name</label>
                <input type="text" name="lname" placeholder="Last Name">

                <label>Street Address</label>
                <input type="text" name="street" placeholder="Street Address">

                <label>City</label>
                <input type="text" name="city" placeholder="City">

                <label>State</label>
                <input type="text" name="state" placeholder="State">

                <label>Zip</label>
                <input type="text" name="zip" placeholder="Zip">

                <label>Country</label>
                <input type="text" name="country" placeholder="Country">

            </fieldset>

            <fieldset class="billing">

                <legend>Billing Address</legend>
                <label class="same-as-billing">
                    <input type="checkbox" name="same_as_shipping" value="Same as Shipping"> Use shipping address for billing address?
                </label>
                <label>First Name</label>
                <input type="text" name="fname" placeholder="First Name">

                <label>Last Name</label>
                <input type="text" name="lname" placeholder="Last Name">

                <label>Street Address</label>
                <input type="text" name="street" placeholder="Street Address">

                <label>City</label>
                <input type="text" name="city" placeholder="City">

                <label>State</label>
                <input type="text" name="state" placeholder="State">

                <label>Zip</label>
                <input type="text" name="zip" placeholder="Zip">

                <label>Country</label>
                <input type="text" name="country" placeholder="Country">

            </fieldset>
        </div>
        <button type="submit" class="button button-md">Submit</button>
    </form>

</article>
<script type="text/javascript" src="js/validator.js"></script>
<script type="text/javascript" src="js/forms.js"></script>
</body>
</html>